<ion-content>
  <div class="login">

    <div class="login-title ls-1"><img src="assets/images/YarockLogo.png" alt="login" /></div>
    <div *ngIf="signUpMode" class="login-subtitle ls-1">הרשמה</div>
    <div *ngIf="!signUpMode" class="login-subtitle ls-1">התחברות</div>
    <div class="login-form">
      <div class="form-inputs">
        <ion-input *ngIf="signUpMode"
                   class="ion-text-center custom"
                   placeholder="{{namePlaceholder}}"
                   [(ngModel)]="name"></ion-input>
        <ion-input type="email"
                   class="ion-text-center"
                   placeholder="כתובת דוא״ל"
                   [(ngModel)]="email"></ion-input>
        <ion-input type="password"
                   class="ion-text-center"
                   placeholder="סיסמה"
                   [(ngModel)]="password"></ion-input>
      </div>
      <div *ngIf="signUpMode" class="login-button">
        <button (click)="signUp()" class="join-button ls-1">הרשמה</button>
        <a (click)="setSignUpMode(false)" class="switch-button">כניסה</a>
      </div>
      <div *ngIf="!signUpMode" class="login-button">
        <button (click)="signIn()" class="join-button ls-1">כניסה</button>
        <a (click)="setSignUpMode(true)" class="switch-button">הרשמה</a>
      </div>
      <!-- <ion-button [routerLink]="['/opt-in']" class="join-button ls-1"
      >{{joinButtonText}}</ion-button
    > -->
    </div>
    <div class="login-image">
      <img src="assets/images/YarockWelcomeIcon.png" alt="login" />
    </div>
  </div>
</ion-content>
