.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 30px 10px;
  font-family: 'Assistant', sans-serif !important;

  &-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    white-space: pre;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  &-subtitle {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    white-space: pre;
    padding-top: 10px;
    background-image: url("/assets/images/TitleBack.png");
    background-size: cover;
    width: 90%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    .form-inputs {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      padding: 0 20px;
    }

    .join-button {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
      width: 100px;
      background: url("/assets/images/ButtonApprove.png") no-repeat 0px 10px;
      background-size: contain;
      background-color: transparent;
      float: right;
      margin-right:20px;
    }

    .switch-button {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
      padding-right:30px;
      direction:rtl;
      width: 100px;
      background: url("/assets/images/ButtonReject.png") no-repeat 0px 10px;
      background-size: contain;
      background-color: transparent;
      float: right;
      color:#0a301f;
    }

    .login-button {

      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      float:right;
    }
  }
}
