<ion-content>
  <div class="login ">
    <div class="login-image">
      <img src="assets/images/login.png" alt="login">
    </div>
    <div class="login-title ls-1">
      {{loginTitleText}}
    </div>
    <div class="login-form">
      <div class="form-inputs">
        <ion-input class="ion-text-center" placeholder="Name"></ion-input>
        <ion-input class="ion-text-center" placeholder="Email"></ion-input>
      </div>
      <ion-button [routerLink]="['/opt-in']" class="join-button ls-1">{{joinButtonText}}</ion-button>
    </div>
  </div>
</ion-content>
