<ion-tabs>
  <div class="divider"></div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img class="tab-image" src="assets/icon/home-tab.png" alt="">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="tab-image" src="assets/icon/challenges-tab.png" alt="">
      <ion-label>Challenges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="tab-image" src="assets/icon/league-tab.png" alt="">
      <ion-label>League</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img class="tab-image" src="assets/icon/market-tab.png" alt="">
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img class="tab-image" src="assets/icon/profile-tab.png" alt="">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
