@font-face {
    font-family: 'Assistant', sans-serif;
    src: url('../assets/fonts/Assistant-VariableFont_wght.ttf');
}

ion-content ion-button{
    font-family: 'Assistant', sans-serif !important;
}

ion-tab-bar{
    border:none;
    padding-bottom: 5px;
}

ion-button{
    text-transform: none;
    --border-radius: 8px;
}

ion-input {
    --placeholder-color: var(--ion-color-secondary) !important;
    --placeholder-opacity: 1 !important;
    input {
        border-width: 0 0 1px !important;
        border-color: var(--ion-color-secondary) !important;
        border-style: solid !important;
    }
}

ion-slides {
    height: 100%;
    // margin-top: 25%;

    ion-slide{
        width: 100% !important;
    }
}

ion-label{
    @media screen and(max-width:350px){
        font-size: 11px;
    }
}