@font-face {
    font-family: 'Assistant', sans-serif;
    src: url('../assets/fonts/Assistant-VariableFont_wght.ttf');
}

ion-content ion-button{
    font-family: 'Assistant', sans-serif;
}

ion-tab-bar{
    border:none
}

ion-button{
    text-transform: none;
    --border-radius: 8px;
}

ion-input{
    // --placeholder-color: grey;

    input .custom{
        border-width: 0 0 1px;
        border-color: black;
        border-style: solid;
    }
}

ion-slides {
    height: 100%;
    // margin-top: 25%;

    ion-slide{
        width: 100% !important;
    }
}