<ion-content [fullscreen]="true" class="background-image">
  <!-- <div class="logout-button"><a (click)="logout()">יציאה</a></div> -->
  <div class="home-tab">
    <div class="home-tab-content" *ngIf="showHomeContent">
      <div class="home-tab-subtitle ls-1">אתגרים ירוקים</div>

      <div class="green-actions">
        <div class="green-action-container"
             *ngFor="let greenAction of greenActions"
             (click)="actionClicked(greenAction)">
          <div class="green-action">
            <div *ngIf="greenAction.isActive">
              <img class="green-action-image"
                   src="{{greenAction.imgSrc}}"
                   alt="greenActionImg" />
              <div class="green-action-title">{{greenAction.title}}</div>
            </div>
            <div *ngIf="!greenAction.isActive">
              <img class="green-action-image-disabled"
                   src="{{greenAction.imgSrc}}"
                   alt="greenActionImg" />
              <div class="green-action-title">{{greenAction.title}}</div>
              <div class="green-action-title-small">בקרוב...</div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-content">
        <div class="action-content-divider"></div>
        <div class="slides">
          <icon class="slide-arrow-prev"
                    name="arrow-undo"
                    (click)="previousSlide()"></icon>
          <ion-slides #actionSlider
                      [options]="slideOpts"
                      (click)="clickEvent()">
            <ion-slide>
              <div class="slide-item">
                <img class="slide-image"
                     src="{{greenActionsContext[0].sliderImg1Src}}"
                     alt="" />
                <div class="slide-details">
                  <div>{{greenActionsContext[0].sliderText1}}</div>
                </div>
              </div>
            </ion-slide>

            <ion-slide>
              <div class="slide-item">
                <img class="slide-image"
                     src="{{greenActionsContext[1].sliderImg1Src}}"
                     alt="" />
                <div class="slide-details">
                  <div>{{greenActionsContext[1].sliderText1}}</div>
                </div>
              </div>
            </ion-slide>

            <ion-slide>
              <div class="slide-item">
                <img class="slide-image"
                     src="{{greenActionsContext[2].sliderImg1Src}}"
                     alt="" />
                <div class="slide-details">
                  <div>{{greenActionsContext[2].sliderText1}}</div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
          <icon class="slide-arrow-next"
                    name="arrow-redo"
                    (click)="nextSlide()"></icon>
        </div>
      </div>
      <!-- <div class="home-tab-points">
    <div class="divider"></div>
    <div class="home-tab-points-content">
      <img src="assets/images/profile.png" alt="home-profile">
      <div class="green-coins">
        <div class="green-coins-amount">49</div>
        <div class="green-coins-text">Green Coins</div>
      </div>
    </div>
  </div> -->
    </div>
    <div class="action-content" *ngIf="showActionContent">
      <div class="action-content-header">
        <div class="action-content-title bold">
          {{selectedActionContext.detailedTitle}}
        </div>
        <img
          class="action-content-image"
          src="{{selectedActionContext.imgSrc}}"
          alt=""
        />
        <div class="action-content-points bold">
          <img
            class="currency-image"
            src="assets/icon/green-currency.png"
            alt=""
          />
        </div>

        <div class="points-amount">
          <ion-label class="points-amount-num"
            >{{selectedActionContext.greenPoints}}</ion-label
          >
          <div class="points-amount-plus">+</div>
        </div>
        <!-- <div class="action-content-points-text bold">מטבעות ירוקים</div> -->
        <div class="action-content-desc bold">
          {{selectedActionContext.description}}
        </div>
        <div *ngIf="selectedActionContext.case !== 'water'">
          <ion-button (click)="report()" class="report-button ls-1"
            >{{selectedActionContext.reportText}}</ion-button
          >
        </div>
        <div class="water" *ngIf="selectedActionContext.case == 'water'">
          <!-- <ion-label>{{audioDuration | formatTime}}</ion-label> -->
          <ion-button (click)="stop()" *ngIf="playingMusic"
            ><ion-icon name="stop"></ion-icon
          ></ion-button>
          <ion-button (click)="play()" *ngIf="!playingMusic"
            ><ion-icon name="play"></ion-icon
          ></ion-button>
        </div>
        <ion-label class="timer" *ngIf="selectedActionContext.case == 'water'"
          >{{audioDurationFormatted}}</ion-label
        >
      </div>
    </div>
  </div>
  <audio src="{{audioSrc}}" #audioElement></audio>
</ion-content>
